<div data-component="revenue">

  <h2>Receitas</h2>

  <button mat-raised-button color="primary" (click)="createRevenue()">
    Adicionar nova receita
    <span class="material-icons">
      add_circle_outline
    </span>
  </button>
  <br>

  <mat-form-field appearance="fill">
    <mat-label>Período selecionado</mat-label>
    <mat-select (selectionChange)="filterAtualMonthRevenues($event)" [(value)]="selected">
      <mat-option *ngFor="let period of periods" [value]="period.value" >
        {{period.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="dataSource.length > 0;else other_content">

    <!-- description Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Descrição </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
      <td mat-footer-cell *matFooterCellDef><b>Total</b></td>
    </ng-container>

    <!-- value Column -->
    <ng-container matColumnDef="value">
      <th mat-header-cell *matHeaderCellDef> Valor </th>
      <td mat-cell *matCellDef="let element"> {{element.value | currency:'BRL':true:'1.2-2'}} </td>
      <td mat-footer-cell *matFooterCellDef> <b>{{ totalRevenue | currency:'BRL':true:'1.2-2'}}</b></td>
    </ng-container>

    <!-- Date Column -->
    <ng-container matColumnDef="revenueDate">
      <th mat-header-cell *matHeaderCellDef> Data do recebimento </th>
      <td mat-cell *matCellDef="let element"> {{element.revenueDate | date: 'dd/MM/yyyy'}} </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <!-- edit Column -->
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element" width="10px">
        <button mat-raised-button class="edit-btn" (click)="editRevenue(element.id)">
          <span class="material-icons">
            edit
          </span>
        </button>
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <!-- delete Column -->
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element" width="10px">
        <button mat-raised-button class="delete-btn" (click)="deleteRevenue(element.id)">
          <span class="material-icons">
            delete
          </span>
        </button>
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
  </table>

  <ng-template #other_content>
    <p>Nenhuma receita cadastrada no período.</p>
  </ng-template>

</div>
